## INTRODUCCIÓN

cpr es un repositorio con funciones y clases para la realización de: Consultas, plots y reportes de las estaciones y los modelos que administra hidrología

## Instalación del repositorio

Se debe usar el siguiente comando en la terminal

git clone https://github.com/marcae777/CPR.git
el comando creará una carpeta llamada CPR que contiene el repositorio, en esta hay un archivo de instalación que se llama setup.py que es el que instalará la librería cpr,
para instalarla se usa la siguiente linea de comando en la terminal

- sudo python setup.py install

Si la instalación se llevó a cabo correctamente, se podrá importar el módulo desde cualquier carpeta del sistema

Para importar el módulo

In [1]:
from cpr import cpr

El módulo está dividido en varias clases (Class Objects), el uso de estas hace parte algo llamado $"programación\ orientada\ a\ objetos"$, la finalidad principal de esta estrategia de programación es tratar de agrupar de forma fácil y lógica, los datos y funciones que están relacionadas para facilitar la reutilización del código. En el caso de los datos que se trabajan en el departamento de hidrología
los podríamos agrupar en varias clases principales

    1. Nivel: los datos de las estaciones de nivel
    2. Pluvio: datos de las estaciones pluviométricas
    4. Radar: datos del radar meteorológico
    3. Aforos: levantamientos topo-batimétricos
    4. Redrio: datos de aforos Redrío 
    4. Meteo: datos de meteorología
    5. VelSup: Velocidad Superficial

para llamar las clases usamos el comando cpr.NombreModulo, así:

In [2]:
cpr.Nivel(99)

Class Object. Nivel(codigo = 99)

### para correr las clases:
    - Se corre el módulo con el código de la estación como argumento, por ejemplo, si quisieramos consultar información de la estación de nivel aula ambiental haríamos lo siguiente:

In [3]:
codigo = 99 # código de la estación en la base de datos
aula = cpr.Nivel(codigo) # se corre el módulo para la estación aula ambiental

una vez insertado el código, la clase heredará ciertos atributos

### Propiedades heredadas

In [4]:
aula.nombre #nombre de la estación

'Aula Ambiental'

In [5]:
aula.longitud,aula.latitud # coordenadas

(-75.572532, 6.26411)

In [6]:
aula.sensor_type

1

In [7]:
aula.codigo

99

In [8]:
aula.offset # último offset registrado

1285.0

In [9]:
aula.offsetOld # el offset con el que siempre se ha trabajado

1285.0

In [10]:
aula.riskLevels # niveles de riesgo

(140.0, 210.0, 260.0, 350.0)

#### Para ver información rápidamente

In [11]:
print aula

Nombre: Aula Ambiental
Red: Nivel
Codigo: 99
Longitud:-75.572532
Latitud: 6.26411
Municipio: Medellin
Offset: 1285.0
OffsetOld: 1285.0
riskLevels: (140.0, 210.0, 260.0, 350.0)

#### Serie de tiempo con información de la estación

In [12]:
aula.info

id                              139
NombreEstacion       Aula Ambiental
Red                           nivel
estado                            A
N                                 1
Ciudad                     Medellin
Longitude                -75.572532
Latitude                   6.264110
offsetN                        1285
action_level                    140
minor_flooding                  210
moderate_flooding               260
major_flooding                  350
Name: 99, dtype: object

#### dataFrame con información de todas las estaciones

In [13]:
aula.infost.head() # head se usa para desplegar solo la primera parte del dataFrame

,id,NombreEstacion,Red,estado,N,Ciudad,Longitude,Latitude,offsetN,action_level,minor_flooding,moderate_flooding,major_flooding
98,140,Estacion Metro Floresta,nivel,A,0,Medellin,-75.5975,6.2585,860.0,20.0,40.0,120.0,380.0
99,139,Aula Ambiental,nivel,A,1,Medellin,-75.572532,6.264110,1285.0,140.0,210.0,260.0,350.0
97,141,Parque de las Aguas-Nivel,nivel,I,1,Barbosa,-75.4186,6.4054,550.0,-999.0,-999.0,-999.0,-999.0
96,142,La Gomez,nivel,A,1,Medellin,-75.5932,6.2739,300.0,82.0,106.0,162.0,206.0
93,160,Puente 33,nivel,A,1,Medellin,-75.5775,6.2396,953.0,92.0,132.0,202.0,285.0

#### información de offset en tabla historicos_bancallena_offset
este df tiene la información de los offset históricos de todas las estaciones de nivel

In [14]:
aula.get_hbo.head()

                fecha_hora  offset
codigo
1      2017-08-01 15:00:00    2.86
90     2013-12-03 12:00:00  393.00
90     2017-05-16 14:00:00  409.00
90     2017-05-16 14:40:00  408.00
90     2017-05-16 15:00:00  409.00

### Para hacer consultas en la base de datos
el módulo viene con funciones de lectura de la base de datos de mysql, los resultados son desplegados en un dataFrame de pandas

In [15]:
# ejemplo 1: Supongamos que queremos ver la información de la tabla estaciones
sentencia = 'DESCRIBE estaciones;'
df = aula.read_sql(sentencia)
df.head()

         Field          Type Null  Key    Default           Extra
0           id      int(255)   NO  PRI       None  auto_increment
1    Longitude  varchar(255)   NO            None
2     Latitude  varchar(255)   NO            None
3  Descripcion  varchar(255)   NO       Red Siata
4         Foto  varchar(255)   NO             sol

In [16]:
# ejemplo 2: Se desea conocer el nombre de las estaciones que fueron instaladas después de noviembre del 2017

In [17]:
sentencia = "SELECT NombreEstacion from estaciones WHERE fechaInstalacion > '2017-11-01'"
estacionesNuevas = aula.read_sql(sentencia)
estacionesNuevas.head()

                        NombreEstacion
0          Parque de las aguas - Thies
1               Q La Bermejala - Nivel
2            La clara digital- Humedad
3         Jorge Eliecer Gaitan - Thies
4  Vivero EPM Piedras Blancas - Pluvio

###  lectura de datos de nivel

para obtener datos de nivel se utiliza la función get_level(fecha_inicial,fecha_final)

In [18]:
fecha_inicial = '2017-10-27'
fecha_final = '2017-10-30'
level = aula.get_level(fecha_inicial,fecha_final)

In [19]:
level.head()

                      sensor  faltante  filtrado  nivel
2017-10-27 00:00:00  1253.54       0.0       0.0  31.46
2017-10-27 00:01:00  1254.19       0.0       1.0    NaN
2017-10-27 00:02:00  1253.76       0.0       0.0  31.24
2017-10-27 00:03:00  1254.08       0.0       0.0  30.92
2017-10-27 00:04:00  1254.08       0.0       0.0  30.92

El resultado es un dataFrame cuyas columnas son los datos del sensor ('sensor'), que representa la distancia del sensor hasta la lámina de agua, en las columnas faltante y filtrado, si el valor es 1 significa que el dato fue filtrado o es faltante, la columna nivel es la profundidad de la lámina de agua una vez realizado el filtro y al haberle restado el offset dinámico a la distancia del sensor. Para el filtro se utilizan unas bandas de confianza construidas con media móvil de 20 datos +- 5*desviación estándar de la media con una ventana móvil de dos datos.

El cálculo de la profundidad se hace utilizando un offset dinámico, recalculado cada vez que se realiza un leventamiento topo-batimétrico, sin embargo, es común trabajar con el offset estático, para este caso

In [20]:
level = aula.get_level(fecha_inicial,fecha_final,offset='old')
level.head()

                      sensor  faltante  filtrado  nivel
2017-10-27 00:00:00  1253.54       0.0       0.0  31.46
2017-10-27 00:01:00  1254.19       0.0       1.0    NaN
2017-10-27 00:02:00  1253.76       0.0       0.0  31.24
2017-10-27 00:03:00  1254.08       0.0       0.0  30.92
2017-10-27 00:04:00  1254.08       0.0       0.0  30.92