## INTRODUCCIÓN

cpr es un repositorio con funciones y clases para la realización de: Consultas, plots y reportes de las estaciones y los modelos que administra hidrología

## Instalación del repositorio

Se debe usar el siguiente comando en la terminal

git clone https://github.com/marcae777/CPR.git
el comando creará una carpeta llamada CPR que contiene el repositorio, en esta hay un archivo de instalación que se llama setup.py que es el que instalará la librería cpr,
para instalarla se usa la siguiente linea de comando en la terminal

- sudo python setup.py install

Si la instalación se llevó a cabo correctamente, se podrá importar el módulo desde cualquier carpeta del sistema

Para importar el módulo

In [14]:
from cpr import cpr

El módulo está dividido en varias clases (Class Objects), el uso de estas hace parte algo llamado $"programación\ orientada\ a\ objetos"$, la finalidad principal de esta estrategia de programación es tratar de agrupar de forma fácil y lógica, los datos y funciones que están relacionadas para facilitar la reutilización del código. En el caso de los datos que se trabajan en el departamento de hidrología
los podríamos agrupar en varias clases principales

    1. Nivel: los datos de las estaciones de nivel
    2. Pluvio: datos de las estaciones pluviométricas
    4. Radar: datos del radar meteorológico
    3. Aforos: levantamientos topo-batimétricos
    4. Redrio: datos de aforos Redrío 
    4. Meteo: datos de meteorología
    5. VelSup: Velocidad Superficial

para llamar las clases usamos el comando cpr.NombreModulo, así:

In [53]:
cpr.Nivel(99)

Class Object. Nivel(codigo = 99)

Con el comando help es posible indagar las clases que están dentro de la librería

In [103]:
help(cpr)

Help on module cpr.cpr in cpr:

NAME
    cpr.cpr

FILE
    /usr/local/lib/python2.7/dist-packages/cpr/cpr.py

DESCRIPTION
    # -*- coding: utf-8 -*-
    #
    #  CRP.py
    #
    #  Copyright 2018 MCANO <mario.cano@siata.gov.co>

CLASSES
    Main
        Nivel

    class Main
     |  Class para manipular la base de datos de Siata
     |
     |  Methods defined here:
     |
     |  __init__(self, codigo=None)
     |
     |  mysql_settings(self, host='192.168.1.74', user='siata_Modif', passwd='M0d_si@t@64512', dbname='siata')
     |      crea el entorno para entrar a la base de datos
     |
     |  read_sql(self, sql)
     |      hace consultas en la base de datos usando pandas
     |      output:
     |          DataFrame de pandas
     |
     |  read_sqlOld(self, query, toPandas=True)
     |      hace consultas en la base de datos
     |      query = sentencia para la base de datos
     |      ejm:
     |      query = 'describe estaciones'
     |      self.read_sqlOld(query),
     |      toPandas = True, convierte los datos en un dataFrame de pandas
     |      toPandas = False, devuelve los datos como una matriz
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  datetimeToString(DatetimeObject)
     |      convierte DatetimeObjet a %Y-%m-%d %H:%M
     |
     |  filter_index(index)
     |      Filtra indices malos en series de tiempo
     |
     |  filter_negative(df)
     |      selects index by positive and negative values
     |
     |  filter_quality(df, idcol='calidad', flag=1)
     |      selects index by quality
     |
     |  make_colormap(seq)
     |
     |  read_csv(path, to_datetime=False, *args, **kwargs)
     |      Lee archivos planos .csv
     |      path = ruta donde se encuentra el archivo
     |      to_datetime para convertir a serie de tiempo
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  info
     |      muestra información de la estacion
     |      output: pd.Series
     |
     |  latitud
     |
     |  longitud
     |
     |  municipio
     |      Encuentra el municipio donde se encuentra ubicada la estacion
     |
     |  nombre

    class Nivel(Main)
     |  Class Nivel
     |  Es una subclase de Main, que hereda sus propiedades
     |
     |  Methods defined here:
     |
     |  __init__(self, codigo=None, codigos=None)
     |
     |  __repr__(self)
     |      string to recreate the object
     |
     |  __str__(self)
     |      string to recreate the main information of the object
     |
     |  get_level(self, start, end, offset=None, bands=False)
     |      obtiene dataFrame con datos filtrados, el filtro se usa con la
     |      ventana movil de desviacion estandar de la media
     |      inputs:
     |          start,end = fecha inicial y final, format = %Y-%m-%d %H-%M'
     |          bands = True, muestra las bandas de confianza del filtro
     |      outputs:
     |          pd.DataFrame con datos filtrados
     |
     |  get_level_sensor(self, start, end)
     |      Obtiene datos del sensor a la lámina de agua
     |      input:
     |          (start,end) : (fecha inicial,fecha final), format = '%Y-%m-%d %H:%M,
     |      output:
     |          pd.Series con los datos del sensor, datos faltantes y con indices malos se llenan con NaN
     |
     |  offset_list(self, s)
     |      crea una serie de tiempo con el offset dinamico
     |      input:
     |          s = serie de tiempo con datos del sensor
     |      output:
     |          serie de tiempo con offset dinamico
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  get_hbo
     |      pd.DataFrame de historico_bancallena_offset
     |      hbo = historico_bancallena_offset
     |
     |  infost
     |      muestra informacion mas relevante de las estaciones de Nivel
     |      output: pd.DataFrame
     |
     |  offset
     |      Ultimo offset registrado
     |
     |  offsetOld
     |      Encuentra el offset de las estaciones de nivel
     |
     |  riskLevels
     |      Niveles de riesgo
     |      output: tuple, size = 4
     |
     |  sensor_type
     |      Encuentra el tipo de sensor,
     |      ouput:
     |      1 si el sensor es de tipo radar,
     |      0 si el sensor es de tipo ultrasonido
     |
     |  xSensor
     |      Ubicacion del sensor en el eje x
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from Main:
     |
     |  mysql_settings(self, host='192.168.1.74', user='siata_Modif', passwd='M0d_si@t@64512', dbname='siata')
     |      crea el entorno para entrar a la base de datos
     |
     |  read_sql(self, sql)
     |      hace consultas en la base de datos usando pandas
     |      output:
     |          DataFrame de pandas
     |
     |  read_sqlOld(self, query, toPandas=True)
     |      hace consultas en la base de datos
     |      query = sentencia para la base de datos
     |      ejm:
     |      query = 'describe estaciones'
     |      self.read_sqlOld(query),
     |      toPandas = True, convierte los datos en un dataFrame de pandas
     |      toPandas = False, devuelve los datos como una matriz
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from Main:
     |
     |  datetimeToString(DatetimeObject)
     |      convierte DatetimeObjet a %Y-%m-%d %H:%M
     |
     |  filter_index(index)
     |      Filtra indices malos en series de tiempo
     |
     |  filter_negative(df)
     |      selects index by positive and negative values
     |
     |  filter_quality(df, idcol='calidad', flag=1)
     |      selects index by quality
     |
     |  make_colormap(seq)
     |
     |  read_csv(path, to_datetime=False, *args, **kwargs)
     |      Lee archivos planos .csv
     |      path = ruta donde se encuentra el archivo
     |      to_datetime para convertir a serie de tiempo
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from Main:
     |
     |  info
     |      muestra información de la estacion
     |      output: pd.Series
     |
     |  latitud
     |
     |  longitud
     |
     |  municipio
     |      Encuentra el municipio donde se encuentra ubicada la estacion
     |
     |  nombre

### para correr las clases:
    - Se corre el módulo con el código de la estación como argumento, por ejemplo, si quisieramos consultar información de la estación de nivel aula ambiental haríamos lo siguiente:

In [55]:
codigo = 99 # código de la estación en la base de datos
aula = cpr.Nivel(codigo) # se corre el módulo para la estación aula ambiental

una vez insertado el código, la clase heredará ciertos atributos

### Propiedades heredadas

In [40]:
aula.nombre #nombre de la estación

'Aula Ambiental'

In [41]:
aula.longitud,aula.latitud # coordenadas

(-75.572532, 6.26411)

In [42]:
aula.sensor_type

1

In [43]:
aula.codigo

99

In [44]:
aula.offset # último offset registrado

1285.0

In [45]:
aula.offsetOld # el offset con el que siempre se ha trabajado

1285.0

In [46]:
aula.riskLevels # niveles de riesgo

(140.0, 210.0, 260.0, 350.0)

#### Para ver información rápidamente

In [47]:
print aula

Nombre: Aula Ambiental
Red: Nivel
Codigo: 99
Longitud:-75.572532
Latitud: 6.26411
Municipio: Medellin
Offset: 1285.0
OffsetOld: 1285.0
riskLevels: (140.0, 210.0, 260.0, 350.0)

#### Serie de tiempo con información de la estación

In [57]:
aula.info

id                              139
NombreEstacion       Aula Ambiental
Red                           nivel
estado                            A
N                                 1
Ciudad                     Medellin
Longitude                -75.572532
Latitude                   6.264110
offsetN                        1285
action_level                    140
minor_flooding                  210
moderate_flooding               260
major_flooding                  350
Name: 99, dtype: object

#### dataFrame con información de todas las estaciones

In [104]:
aula.infost.head() # head se usa para desplegar solo la primera parte del dataFrame

,id,NombreEstacion,Red,estado,N,Ciudad,Longitude,Latitude,offsetN,action_level,minor_flooding,moderate_flooding,major_flooding
98,140,Estacion Metro Floresta,nivel,A,0,Medellin,-75.5975,6.2585,860.0,20.0,40.0,120.0,380.0
99,139,Aula Ambiental,nivel,A,1,Medellin,-75.572532,6.264110,1285.0,140.0,210.0,260.0,350.0
97,141,Parque de las Aguas-Nivel,nivel,I,1,Barbosa,-75.4186,6.4054,550.0,-999.0,-999.0,-999.0,-999.0
96,142,La Gomez,nivel,A,1,Medellin,-75.5932,6.2739,300.0,82.0,106.0,162.0,206.0
93,160,Puente 33,nivel,A,1,Medellin,-75.5775,6.2396,953.0,92.0,132.0,202.0,285.0

#### información de offset en tabla historicos_bancallena_offset
este df tiene la información de los offset históricos de todas las estaciones de nivel

In [105]:
aula.get_hbo.head()

                fecha_hora  offset
codigo
1      2017-08-01 15:00:00    2.86
90     2013-12-03 12:00:00  393.00
90     2017-05-16 14:00:00  409.00
90     2017-05-16 14:40:00  408.00
90     2017-05-16 15:00:00  409.00

### Para hacer consultas en la base de datos
el módulo viene con funciones de lectura de la base de datos de mysql, los resultados son desplegados en un dataFrame de pandas

In [106]:
# ejemplo 1: Supongamos que queremos ver la información de la tabla estaciones
sentencia = 'DESCRIBE estaciones;'
df = aula.read_sql(sentencia)
df.head()

         Field          Type Null  Key    Default           Extra
0           id      int(255)   NO  PRI       None  auto_increment
1    Longitude  varchar(255)   NO            None
2     Latitude  varchar(255)   NO            None
3  Descripcion  varchar(255)   NO       Red Siata
4         Foto  varchar(255)   NO             sol

In [107]:
# ejemplo 2: Se desea conocer el nombre de las estaciones que fueron instaladas después de noviembre del 2017

In [108]:
sentencia = "SELECT NombreEstacion from estaciones WHERE fechaInstalacion > '2017-11-01'"
estacionesNuevas = aula.read_sql(sentencia)
estacionesNuevas.head()

                        NombreEstacion
0          Parque de las aguas - Thies
1               Q La Bermejala - Nivel
2            La clara digital- Humedad
3         Jorge Eliecer Gaitan - Thies
4  Vivero EPM Piedras Blancas - Pluvio

###  lectura de datos de nivel

para obtener datos de nivel se utiliza la función get_level(fecha_inicial,fecha_final)

In [96]:
fecha_inicial = '2017-10-27'
fecha_final = '2017-10-30'
level = aula.get_level(fecha_inicial,fecha_final)

In [97]:
level.head()

                      sensor  faltante  filtrado  nivel
2017-10-27 00:00:00  1253.54       0.0       0.0  31.46
2017-10-27 00:01:00  1254.19       0.0       1.0    NaN
2017-10-27 00:02:00  1253.76       0.0       0.0  31.24
2017-10-27 00:03:00  1254.08       0.0       0.0  30.92
2017-10-27 00:04:00  1254.08       0.0       0.0  30.92

El resultado es un dataFrame cuyas columnas son los datos del sensor ('sensor'), que representa la distancia del sensor hasta la lámina de agua, en las columnas faltante y filtrado, si el valor es 1 significa que el dato fue filtrado o es faltante, la columna nivel es la profundidad de la lámina de agua una vez realizado el filtro y al haberle restado el offset dinámico a la distancia del sensor. Para el filtro se utilizan unas bandas de confianza construidas con media móvil de 20 datos +- 5*desviación estándar de la media con una ventana móvil de dos datos.

El cálculo de la profundidad se hace utilizando un offset dinámico, recalculado cada vez que se realiza un leventamiento topo-batimétrico, sin embargo, es común trabajar con el offset estático, para este caso

In [101]:
aula.get_level(fecha_inicial,fecha_final,offset='old')

                      sensor  faltante  filtrado  nivel
2017-10-27 00:00:00  1253.54       0.0       0.0  31.46
2017-10-27 00:01:00  1254.19       0.0       1.0    NaN
2017-10-27 00:02:00  1253.76       0.0       0.0  31.24
2017-10-27 00:03:00  1254.08       0.0       0.0  30.92
2017-10-27 00:04:00  1254.08       0.0       0.0  30.92
2017-10-27 00:05:00  1253.76       0.0       0.0  31.24
2017-10-27 00:06:00  1254.08       0.0       0.0  30.92
2017-10-27 00:07:00  1254.41       0.0       0.0  30.59
2017-10-27 00:08:00  1253.87       0.0       0.0  31.13
2017-10-27 00:09:00  1253.98       0.0       0.0  31.02
2017-10-27 00:10:00  1253.44       0.0       0.0  31.56
2017-10-27 00:11:00  1253.54       0.0       0.0  31.46
2017-10-27 00:12:00  1254.08       0.0       0.0  30.92
2017-10-27 00:13:00  1253.22       0.0       1.0    NaN
2017-10-27 00:14:00  1254.08       0.0       1.0    NaN
2017-10-27 00:15:00  1253.76       0.0       0.0  31.24
2017-10-27 00:16:00  1254.52       0.0       0.0  30.48
2017-10-27 00:17:00  1254.30       0.0       0.0  30.70
2017-10-27 00:18:00  1253.76       0.0       0.0  31.24
2017-10-27 00:19:00  1253.87       0.0       0.0  31.13
2017-10-27 00:20:00  1254.84       0.0       0.0  30.16
2017-10-27 00:21:00  1254.41       0.0       0.0  30.59
2017-10-27 00:22:00  1253.98       0.0       0.0  31.02
2017-10-27 00:23:00  1253.87       0.0       0.0  31.13
2017-10-27 00:24:00  1254.41       0.0       0.0  30.59
2017-10-27 00:25:00  1254.84       0.0       0.0  30.16
2017-10-27 00:26:00  1254.73       0.0       0.0  30.27
2017-10-27 00:27:00  1254.62       0.0       0.0  30.38
2017-10-27 00:28:00  1253.87       0.0       0.0  31.13
2017-10-27 00:29:00  1254.19       0.0       0.0  30.81
...                      ...       ...       ...    ...
2017-10-29 23:31:00  1250.42       0.0       0.0  34.58
2017-10-29 23:32:00  1250.74       0.0       0.0  34.26
2017-10-29 23:33:00  1250.53       0.0       0.0  34.47
2017-10-29 23:34:00  1250.20       0.0       0.0  34.80
2017-10-29 23:35:00  1249.99       0.0       0.0  35.01
2017-10-29 23:36:00  1249.99       0.0       0.0  35.01
2017-10-29 23:37:00  1250.31       0.0       0.0  34.69
2017-10-29 23:38:00  1250.10       0.0       0.0  34.90
2017-10-29 23:39:00  1250.31       0.0       0.0  34.69
2017-10-29 23:40:00  1249.99       0.0       0.0  35.01
2017-10-29 23:41:00  1250.20       0.0       0.0  34.80
2017-10-29 23:42:00  1250.31       0.0       0.0  34.69
2017-10-29 23:43:00  1250.42       0.0       0.0  34.58
2017-10-29 23:44:00  1250.53       0.0       0.0  34.47
2017-10-29 23:45:00  1250.53       0.0       0.0  34.47
2017-10-29 23:46:00  1251.07       0.0       0.0  33.93
2017-10-29 23:47:00  1250.74       0.0       0.0  34.26
2017-10-29 23:48:00  1250.10       0.0       0.0  34.90
2017-10-29 23:49:00  1250.85       0.0       0.0  34.15
2017-10-29 23:50:00  1251.07       0.0       0.0  33.93
2017-10-29 23:51:00  1249.88       0.0       1.0    NaN
2017-10-29 23:52:00  1250.63       0.0       0.0  34.37
2017-10-29 23:53:00  1251.60       0.0       0.0  33.40
2017-10-29 23:54:00  1250.42       0.0       0.0  34.58
2017-10-29 23:55:00  1250.20       0.0       0.0  34.80
2017-10-29 23:56:00  1251.07       0.0       0.0  33.93
2017-10-29 23:57:00  1250.53       0.0       0.0  34.47
2017-10-29 23:58:00  1250.85       0.0       0.0  34.15
2017-10-29 23:59:00  1250.10       0.0       0.0  34.90
2017-10-30 00:00:00  1250.96       0.0       0.0  34.04

[4321 rows x 4 columns]