In [1]:
import cprv1.cprv1 as cpr
from wmf import wmf
import os
import numpy as np
import pandas as pd
import datetime
%matplotlib inline

In [2]:
codigo = 99
self = cpr.Nivel(codigo=codigo,user='sample_user',passwd='s@mple_p@ss',SimuBasin=False)

In [3]:
start = '2018-02-11 18:40'
end = '2018-02-11 18:55'

In [4]:
os.listdir(self.rain_path)

['201801111110-201801111215-99-sample_user.hdr',
 '201801111112-201801111215-99-sample_user.bin',
 '201802111810-201802112315-99-sample_user.bin',
 '201801111112-201801111215-99-sample_user.hdr',
 '201802111820-201802111835-99-sample_user.hdr',
 '201802111820-201802111835-99-sample_user.bin',
 '201801111110-201801111215-99-sample_user.bin',
 '201801111212-201801121500-99-sample_user.bin',
 '201802111810-201802112315-99-sample_user.hdr',
 '201801111212-201801121500-99-sample_user.hdr']

In [5]:
self.radar_rain(start,end)

2018-02-11 18:40:00    0.0
2018-02-11 18:45:00    0.0
2018-02-11 18:50:00    0.0
2018-02-11 18:55:00    0.0
Name:  Lluvia, dtype: float64

In [6]:
self.radar_rain_vect(start,end)

/media/nicolas/maso/Mario/user_output/radar/201802111810-201802112315-99-sample_user

Empty DataFrame
Columns: []
Index: []

In [7]:
self.level(start,end)

2018-02-11 18:40:00    31.13
2018-02-11 18:41:00    30.48
2018-02-11 18:42:00    30.81
2018-02-11 18:43:00    30.70
2018-02-11 18:44:00    29.95
2018-02-11 18:45:00    30.81
2018-02-11 18:46:00    30.48
2018-02-11 18:47:00    29.84
2018-02-11 18:48:00    30.05
2018-02-11 18:49:00    30.81
2018-02-11 18:50:00    31.13
2018-02-11 18:51:00    30.70
2018-02-11 18:52:00    30.92
2018-02-11 18:53:00    30.27
2018-02-11 18:54:00    29.84
2018-02-11 18:55:00    29.95
Freq: T, Name: NI, dtype: float64

In [8]:
self = cpr.Nivel(codigo=codigo,user='sample_user',passwd='s@mple_p@ss',SimuBasin=False)

In [9]:
self.last_bat()

         x     y
1    0.000  3.49
2    4.700  3.49
3    4.700  0.47
4    4.700  0.18
5    7.783  0.15
6   10.866  0.01
7   13.949 -0.02
8   17.030 -0.12
9   20.110  0.00
10  21.000  0.00
11  23.200  0.00
12  26.280  0.06
13  29.360  0.02
14  32.450 -0.03
15  35.530 -0.01
16  38.610  0.27
17  41.700  0.02
18  44.780  0.14
19  44.780  0.47
20  44.780  3.57
21  54.080  3.97